{{ctrl.test}}

<div ng-repeat="beer in ctrl.beer" ng-init="beer.like = false">
    <button ng-click="requestAnother();">{{beer.name}}</button>
    <ul>
        <li>abv: {{beer.abv}}</li>
        <li>ibu: {{beer.ibu}}</li>
        <li>styleId: {{beer.styleId}}</li>
    </ul>
    <input type="checkbox" ng-model="beer.like" />
    
    <shared-scope></shared-scope>
    <!-- <isolate-scope beer="beer"></isolate-scope> -->
    <isolate-scope action="requestAnother();"></isolate-scope>

</div>



<div class="actions">
    <button ng-click="">Beer Me</button>
</div>

